.custom-footer {
  background-color: var(--altBg);
}

.custom-footer .container {
  position: relative;
  color: #eeeeee;
  display: flex;
  align-items: center;
}

.custom-footer .links {
  position: relative;
  width: 50%;
  display: inline-block;
}

.custom-footer .message {
  position: relative;
  width: 50%;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: lighter;
}

.custom-footer .message p {
  margin-bottom: 0;
}

.custom-footer a {
  color: #eeeeee
}

.custom-footer ul {
  margin-bottom: 0;
  list-style: none;
  margin-left: 0;
}

.custom-footer ul li {
  margin-bottom: 0.2rem;
}

.custom-footer ul li:last-of-type {
  margin-bottom: 0;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: #2978a0;
  border-radius: 0.5rem;
  position: relative;
  margin-top:3rem;
}

.divider span {
  position: absolute;
  left: 50%;
  top: -14px;
  color: #2978a0;
}

@media screen and (max-width: 460px) {
  .custom-footer {
    line-height: 61px;
  }
  .custom-footer .links {
    margin: 0 auto;
    width: 100%;
    height: 50%;
    left: 0;
    position: relative;
  }
  .custom-footer .message {
    margin-top: 1rem;
    position: relative;
    line-height: 1.5;
    width: 100%;
  }
}
